@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');
body{
    font-family: 'Hind', sans-serif;
}
h2{
    font-size: 50px;
    font-weight: bold;
}
@media(max-width: 576px){
    h2{
        font-size: 30px;
    }
    .hamburger{
        position: fixed !important;
        top: 20px;
        right: 20px;
    }
}
/*
    Helper Classes
*/
img{
    width: 100%;
}
.text-align-center{
    text-align: center;
}
.text-align-right{
    text-align: right;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-50{
    margin-top: 50px;
}
.margin-top-100{
    margin-top: 100px;
}
.full-page-iframe{
    width: 100%;
    height: 512px;
}
@media(max-width: 576px){
    .full-page-iframe{
        height: auto;
    }
}
/**
    Formularios
**/
input[type="text"], input[type="email"],input[type="number"], input[type="phone"], textarea, select{
    width: 100%;
    padding: 20px 30px;
    font-size: 30px;
    border-radius: 64px;
    border: 1px solid #707070;
    font-weight: 300;
    margin: 10px 0;
}
input[type=checkbox]{
    margin: 0;
}
.checkbox label{
    font-size: 30px;
}
.checkbox-container{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 400;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #202020;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 1px solid #707070;
    border-radius: 12px;
}
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}
.checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 10px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
input:focus, textarea:focus, select:focus {
    outline: none;
}
select{
    -moz-appearance:none;
    background-image: url("../images/setinha.png");
    background-position: 95% 50%;
    background-repeat: no-repeat;
}
select:hover{
    cursor: pointer;
}
@media(max-width: 576px){
    input[type="text"], input[type="email"],input[type="number"], input[type="phone"], textarea, select{
        font-size: 18px;
        border-radius: 40px;
    }
    select{
        background-size: 30px 30px;
    }
}
/**
    Flex Containers
**/
.linha-flex{
    display: flex;
    flex-direction: row;
}
.coluna-flex{
    display: flex;
    flex-direction: column;
}
.alinha-centro{
    align-items: center;
}
.justificar-centro{
    justify-content: center;
}
.start{
    align-items: flex-start;
}
.flex-1{
    flex: 1;
}
.wrap{
    flex-wrap: wrap
}
/**
    Header
**/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid white;
    z-index: 50;
    -webkit-transition: all .35s ease-in;
    -moz-transition: all .35s ease-in;
    transition: all .35s ease-in;
}
header.affix{
    background-color: #0a3c68;
    -webkit-transition: all .35s ease-in;
    -moz-transition: all .35s ease-in;
    transition: all .35s ease-in;
}
header .row{
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-transition: all .35s ease-in;
    -moz-transition: all .35s ease-in;
    transition: all .35s ease-in;
}
header.affix .row{
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-transition: all .35s ease-in;
    -moz-transition: all .35s ease-in;
    transition: all .35s ease-in;
}
header .menu>ul>li>a{
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 37px;
}
header .menu>ul>li:hover>a, header .menu>ul>li.active>a{
    text-decoration: none;
    background-color: white;
    color: #02348A;
}
@media(max-width: 576px){
    header .row{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .MenuChef{
        z-index: 101;
    }
}

/**
    Button
**/
.button{
    padding: 10px 20px;
    border-radius: 37px;
    color: white;
    background-color: #1278DD;
    border: none;
}
.button.large{
    padding: 10px 40px;
}
.button.contratar{
    background-color: #41E68E;
}
.button:hover{
    background-color: rgb(0, 77, 155) !important;
    color: white !important;
}
.button:hover.contratar:hover{
    background-color: rgb(9, 177, 87) !important;
}
/**
    Topo
**/
.topo{
    height: 100vh;
    background-position: bottom;
}
.topo[data-page="home"]{
    background-image: url("../images/home-background.png");
}
.topo[data-page="depoimentos"]{
    background-image: url("../images/depoimentos-background.png");
    background-color: #F9F9F9;
}
.topo[data-page="gerenciamento"]{
    background-image: url("../images/gerenciamento-background.png");
    background-color: #F9F9F9;
}
.topo[data-page="leads"]{
    background-image: url("../images/leads-background.png");
    background-color: #F9F9F9;
}
.topo[data-page="sobrenos"]{
    background-image: url("../images/sobrenos-background.png");
}
.topo[data-page="contato"]{
    background-image: url("../images/contato-background.png");
}
.topo[data-page="leads"] h1{
    margin-top: 0px;
}
.topo[data-page="leads"] h3{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}
.topo .coluna-flex{
    height: 100vh;
}
.topo h1{
    font-size: 55px;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
@media(max-width: 576px){
    .topo h1{
        font-size: 35px;
    }
    .topo[data-page="leads"] h3{
        font-size: 18px;
    }
}
/**
    Página de contato
**/
.formulario-contato-container{
    padding: 100px 0 50px 0;
}
/**
    Especilistas
**/
.especialistas-container{
    padding: 100px 0 50px 0;
}

/**
    Serviços section
**/
.servicos-section{
    padding: 0px 0 50px 0;
    background-image: url('../images/servico-section.png');
    background-position: center;
}
.servicos-section h2{
    color: white;
    background-image: url('../images/servicos-title.png');
    background-position: center;
    padding: 100px 0 90px;
    background-repeat: no-repeat;
    line-height: 50px;
}
.servico{
    margin: 10px 0;
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
}
.servico h3{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #1579B2;
    font-size: 54px;
    line-height: 54px;
    margin:0;
    color:transparent;
    margin-right: 10px;
}
.servico p{
    font-size: 18px;
    margin: 0;
}
@media(max-width: 576px){
    .especialistas-container{
        padding: 0 0 30px 0;
    }
    .servicos-section h2{
        background-position: center;
        background-size: 300px 100px;
        padding:0;
    }
    .servico{
        padding: 20px 20px;
    }
    .servico p{
        font-size: 14px;
    }
}
/**
    Call to action para planos
**/
.call-to-action-section{
    padding: 100px 0 50px 0;
}
.chat-outline-1{
    width: 150px;
}
/**
    wtf-are-leads-section
**/
.wtf-are-leads-section{
    padding: 100px 0 0 0;
    background-color: #F9F9F9;
}
.wtf-are-leads-section h2>b{
    color: #1579B2;
}
.wtf-are-leads-section .explanation-card{
    background-color: #FFF;
    border-radius: 57px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16);
}
.wtf-are-leads-section .explanation-card div:last-of-type{
    padding: 5px 20px 5px 10px;
}
.wtf-are-leads-section .explanation-image img{
    width:200px;
}
@media(max-width: 576px){
    .wtf-are-leads-section .explanation-image img{
        margin: 20px 0; 
    }
}
.wtf-are-leads-section .explanation-image .engine{
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.wtf-are-leads-section .image-container{
    background-color: #41E68E;
    border-radius: 57px 0 57px 57px;
    padding: 20px 10px;
}
.wtf-are-leads-section .image-container img{
    width: 50px;
}
/**
    Animated BG
**/
.animation-container{
    position: relative;
}
#scene{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    overflow: hidden;
}
/**
    Formulario vendas
**/
.vendas-formulario-container{
    padding: 30px 0;
}
.vendas-formulario-container[data-color="cinza"]{
    background-color: #F9F9F9;
}
.vendas-formulario-container[data-color="branco"]{
    background-color: #FFF;
}
/**
    Contrate Gerenciamento
**/
.contrate-gerenciamento-container{
    padding: 30px 0;
}
.contrate-gerenciamento-container[data-color="cinza"]{
    background-color: #F9F9F9;
}
.contrate-gerenciamento-container[data-color="branco"]{
    background-color: #FFF;
}

/**
    William miseret
**/
.william-ux-designer{
    padding: 100px 0 50px 0;
    background-color: #F9F9F9;
}
.william-ux-designer-container{
    background-color: white;
    border-radius: 56px;
}
.william-ux-designer-container .chat-image{
    width: 80px;
}
.william-ux-designer-content{
    padding: 0 30px;
}
.depoimentos-iframe{
    width: 600px;
    height: 400px;
    border-radius: 56px;
}
.william-ux-designer-image{
    width: 140px;
    margin-top: -70px;
}
.william-ux-designer-content p{
    font-size: 18px;
}
.william-ux-designer-content h4{
    font-size: 18px;
    margin-top: 30px;
}
@media(max-width: 576px){
    .william-ux-designer-image{
        width: 140px;
        margin-top: 10px;
    }
}
/**
    Depoimentos
**/
.depoimentos-section{
    padding: 100px 0 100px 0;
}
.depoimentos-section small{
    color: #858585;
    font-size: 18px;
}
.depoimentos-section .depoimento-container{
    border-radius: 24px;
    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, .16);
    padding: 20px 30px 0 30px;
    z-index: 10;
    background-color: #FFF;
    margin-top: 100px;
}
.depoimento-container .icon{
    width: 50px;
}
.depoimento-container p{
    color: #4EB1E9;
    font-size: 22px;
    font-weight: 300;
    margin-top: 30px;
}
.depoimento-container .client{
    width: 100px;
    margin-bottom: -50px;
    margin-top: 30px;
}
@media(max-width: 576px){
    .depoimento-container p{
        font-size: 18px;
    }
}
/**
    Marketers
**/
.marketers-section{
    padding: 100px 0 50px 0;
    background-color: #F9F9F9;
}
.marketers-section p, .marketers-section h3{
    font-size: 22px;
}
/**
    clientes-marcas-container
**/
.clientes-marcas-container{
    padding: 100px 0 50px 0;
    background-color: #F9F9F9;
}
/**
    Sobre nos
**/
.about-us-video{
    margin-bottom: 30px;
}
.about-content{
    background-color: #F8F8F8;
    padding: 20px 60px;
    position: relative;
    border-radius: 56px;
}
.about-content .about-bagde{
    position: absolute;
    background-color: #0A3C68;
    top: -40px;
    right: 40px;
    padding: 30px 80px;
    border-radius: 56px 16px 56px 56px;
}
.about-content p{
    font-size: 30px;
    line-height: 110px;
}
.about-content .about-bagde img{
    width: 60px;
}
@media(max-width: 576px){
    .about-content .about-bagde img{
        width: 30px;
    }
    .about-content{
        padding: 20px 30px;
    }
    .about-content .about-bagde{
        top: -20px;
        right: 20px;
        padding: 10px 30px;
    }
    .about-content p{
        font-size: 22px;
        line-height: 35px;
    }
}
/**
    Long Exposure
**/
.long-exposure-section{
    position: relative;
}
.long-esposure-content{
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    top: 40%;
    left: 0;
}
.long-exposure-section img{
    margin-top: -120px;
}
@media(max-width: 576px){
    .long-exposure-section img{
        margin-top: -30px;
    }
    .long-esposure-content{
        top: 15%;
    }
}
/**
    Footer
**/
footer{
    padding-top: 150px;
    padding-bottom: 30px;
    background-color: #0A3C68;
}
footer .footer-logo{
    width: 118px;
}
footer ul>li>a{
    font-size: 20px;
}
footer .social{
    margin-top: 10px;
}
footer .social img{
    width: 40px;
}
footer ul>li:nth-child(n)>a{
    color: white;
}
footer ul>li:nth-child(2n)>a{
    color: #8E8E8E;
}
footer .last-line{
    border-top: 3px solid rgba(110, 202, 255, .75);
    padding-top: 30px;
    margin-top: 10px;
}
footer .last-line p{
    text-align: center;
    color: white;
    font-size: 14px;
}
/**
    Slider
**/
.slider-section{
    margin-bottom: 50px;
}
.carousel-cell {
    width: 100%;
    text-align: center;
    padding: 20px 150px;
}
.carousel-cell img{
    width: 150px;
}
.carousel-cell p{
    font-size: 30px;
    margin-top: 50px;
}
@media(max-width: 576px){
    .carousel-cell {
        width: 100%;
        text-align: center;
        padding: 20px 10px;
    }
    .carousel-cell p{
        font-size: 18px;
    }
}
/**
    The book is on this table
**/
.pricing-table-container{
    display: flex;
}
.pricing-table-container .list-unstyled{
    margin: 0;
}
.pricing-table-container .indexes{
    background-color: #0A3C68;
    border-radius: 21px 0 0 21px;
    margin-top: 140px;
}
.fixed-colum{
    width: 25%;
}
.overflowed-columns{
    width: 75%;
    display: flex;
}
.overflowed-columns .price-colum{
    width: 25%;
}
.pricing-table-container ul>li{
    height: 60px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.pricing-table-container ul>li img{
    height: 18px;
    width: 19px;
}
.overflowed-columns ul>li{
    align-items: center;
}
.column-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06335B;
    height: 50px;
    padding: 10px 0;
}
.column-header.esquerda{
    border-top-left-radius: 40px;
    border-left: 1px solid white;
}
.column-header.direita{
    border-top-right-radius: 40px;
    border-right: 1px solid white;
}
.column-header h4{
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    color: white;
    margin-right: 5px;
}
.column-header img{
    width: 30px;
}
.column-pricing{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #0A3C68;
    color: white;
    padding: 10px 0;
    height: 90px;
    border-left: 1px solid white;
}
.column-pricing div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.column-pricing .preco{
    font-size: 70px;
    margin: 0;
    line-height: 60px;
}
.column-pricing .moeda, .column-pricing .periodo{
    font-size: 20px;
    margin: 0;
}
.column-especs{
    background-color: #0A3C68;
    border-left: 1px solid white;
}
.column-especs.direita, .column-pricing.direita{
    border-right: 1px solid white;
}
.column-footer{
    background-color: #0A3C68;
    padding: 10px 0 20px 0;
    border-left: 1px solid white;
}
.column-footer.esquerda{
    border-bottom-left-radius: 40px;
}
.column-footer.direita{
    border-bottom-right-radius: 40px;
    border-right: 1px solid white;
}
@media(max-width: 576px){
    .pricing-table-container .indexes{
        margin-top: 100px;
    }
    .fixed-colum{
        width: 50%;
    }
    .column-header h4{
        font-size: 20px;
        line-height: 20px;
    }
    .overflowed-columns{
        width: 50%;
        overflow-x: scroll
    }
    .overflowed-columns .price-colum{
        width: 100%;
    }
    .pricing-table-container ul>li{
        font-size: 10px;
        line-height: 10px;
    }
    .pricing-table-container ul>li{
        height: 50px;
    }
    .column-pricing{
        height: 60px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .column-pricing .preco{
        font-size: 40px;
        margin: 0;
        line-height: 30px;
    }
    .column-pricing .moeda, .column-pricing .periodo{
        font-size: 15px;
        margin: 0;
    }
}

input[type="number"].table-input{
    padding: 5px;
    font-size: 14px;
    color: #000;
    text-align: center;
    width: 100px;
}

/**
    Auth
**/
.auth-body{
    background-image: url('../images/bg-login.png')
}
.auth-container{
    background-color: white;
    padding: 50px 40px;
    border-bottom-left-radius: 53px;
    border-bottom-right-radius: 53px;
    text-align: center;
}
.auth-container img{
    width: 300px;
}
.auth-container h1{
    font-size: 40px;
    font-weight: 300;
    color: #1278DD;
}